# Build
build/
build-doc/
vcpkg/
vcpkg_installed/

# IDEs
.vscode/
.clion/
CMakeLists.txt.user
.kdev4/
*.kdev4

# bin/
bin/*
!bin/.gitkeep

test_*.py

#vim
*.swp

*.py[cod]
.venv/
venv/

# docs
docs/_build/
docs/build/

# C extensions
*.so

# Packages
wheelhouse
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
