# Build
build/
build-doc/
vcpkg/
vcpkg_installed/

# IDEs
.vscode/
.clion/
CMakeLists.txt.user
.kdev4/
*.kdev4

# bin/
bin/*
!bin/.gitkeep

#vim
*.swp

*.py[cod]
*.pdb
.venv/
venv/

# docs
docs/_build/
docs/build/

# C extensions
*.so

# Packages
wheelhouse
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Jupyter
.ipynb_checkpoints

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
.pytest_cache
__pycache__

# Translations
*.mo

# OS
.DS_Store
