# Textures
*.dds binary
*.plt binary
*.tga binary

# Gffs
*.are binary
*.bic binary
*.gi[tc] binary
*.ifo binary
*.ut[ceimpstw] binary

# Containers
*.bif binary
*.erf binary
*.hak binary
*.key binary
*.mod binary
*.tlk binary
*.zip binary

# Github
tests/test_data/** -linguist-detectable
