include README.md LICENSE
graft external
graft src
graft tests
global-include CMakeLists.txt CMakePresets.json *.cmake vcpkg.json
prune **/__pycache__
prune **/pynwn-egg.info
global-exclude .DS_Store
global-exclude *.py[cod]
prune .venv
prune venv
