<!DOCTYPE html>
<html class="writer-html5" lang="en" >
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Common &mdash; pynwn 0.1.0 documentation</title>
      <link rel="stylesheet" href="../../_static/pygments.css" type="text/css" />
      <link rel="stylesheet" href="../../_static/css/theme.css" type="text/css" />
  <!--[if lt IE 9]>
    <script src="../../_static/js/html5shiv.min.js"></script>
  <![endif]-->
  
        <script data-url_root="../../" id="documentation_options" src="../../_static/documentation_options.js"></script>
        <script src="../../_static/jquery.js"></script>
        <script src="../../_static/underscore.js"></script>
        <script src="../../_static/doctools.js"></script>
    <script src="../../_static/js/theme.js"></script>
    <link rel="index" title="Index" href="../../genindex.html" />
    <link rel="search" title="Search" href="../../search.html" />
    <link rel="next" title="Equips" href="Equips.html" />
    <link rel="prev" title="CombatInfo" href="CombatInfo.html" /> 
</head>

<body class="wy-body-for-nav"> 
  <div class="wy-grid-for-nav">
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-scroll">
        <div class="wy-side-nav-search" >
            <a href="../../index.html" class="icon icon-home"> pynwn
          </a>
<div role="search">
  <form id="rtd-search-form" class="wy-form" action="../../search.html" method="get">
    <input type="text" name="q" placeholder="Search docs" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div>
        </div><div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="Navigation menu">
              <p class="caption" role="heading"><span class="caption-text">API</span></p>
<ul class="current">
<li class="toctree-l1 current"><a class="reference internal" href="../components.html">components</a><ul class="current">
<li class="toctree-l2"><a class="reference internal" href="Appearance.html">Appearance</a></li>
<li class="toctree-l2"><a class="reference internal" href="BodyParts.html">BodyParts</a></li>
<li class="toctree-l2"><a class="reference internal" href="CombatInfo.html">CombatInfo</a></li>
<li class="toctree-l2 current"><a class="current reference internal" href="#">Common</a></li>
<li class="toctree-l2"><a class="reference internal" href="Equips.html">Equips</a></li>
<li class="toctree-l2"><a class="reference internal" href="Inventory.html">Inventory</a></li>
<li class="toctree-l2"><a class="reference internal" href="LevelStats.html">LevelStats</a></li>
<li class="toctree-l2"><a class="reference internal" href="LocalData.html">LocalData</a></li>
<li class="toctree-l2"><a class="reference internal" href="Location.html">Location</a></li>
<li class="toctree-l2"><a class="reference internal" href="Lock.html">Lock</a></li>
<li class="toctree-l2"><a class="reference internal" href="SpellBook.html">SpellBook</a></li>
<li class="toctree-l2"><a class="reference internal" href="Trap.html">Trap</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="../formats.html">formats</a></li>
<li class="toctree-l1"><a class="reference internal" href="../objects.html">objects</a></li>
<li class="toctree-l1"><a class="reference internal" href="../script.html">script</a></li>
<li class="toctree-l1"><a class="reference internal" href="../resources.html">resources</a></li>
</ul>

        </div>
      </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap"><nav class="wy-nav-top" aria-label="Mobile navigation menu" >
          <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
          <a href="../../index.html">pynwn</a>
      </nav>

      <div class="wy-nav-content">
        <div class="rst-content">
          <div role="navigation" aria-label="Page navigation">
  <ul class="wy-breadcrumbs">
      <li><a href="../../index.html" class="icon icon-home"></a> &raquo;</li>
          <li><a href="../components.html">components</a> &raquo;</li>
      <li>Common</li>
      <li class="wy-breadcrumbs-aside">
            <a href="../../_sources/modules/components/Common.rst.txt" rel="nofollow"> View page source</a>
      </li>
  </ul>
  <hr/>
</div>
          <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">
           <div itemprop="articleBody">
             
  <div class="section" id="common">
<h1>Common<a class="headerlink" href="#common" title="Permalink to this headline">¶</a></h1>
<dl class="py class">
<dt class="sig sig-object py" id="pynwn.Common">
<em class="property"><span class="pre">class</span><span class="w"> </span></em><span class="sig-prename descclassname"><span class="pre">pynwn.</span></span><span class="sig-name descname"><span class="pre">Common</span></span><a class="headerlink" href="#pynwn.Common" title="Permalink to this definition">¶</a></dt>
<dd><p>Class containing attributes common to all objects</p>
<dl class="py attribute">
<dt class="sig sig-object py" id="pynwn.Common.resref">
<span class="sig-name descname"><span class="pre">resref</span></span><a class="headerlink" href="#pynwn.Common.resref" title="Permalink to this definition">¶</a></dt>
<dd><p>resref</p>
<dl class="field-list simple">
<dt class="field-odd">Type</dt>
<dd class="field-odd"><p>pynwn.Resref</p>
</dd>
</dl>
</dd></dl>

<dl class="py attribute">
<dt class="sig sig-object py" id="pynwn.Common.tag">
<span class="sig-name descname"><span class="pre">tag</span></span><a class="headerlink" href="#pynwn.Common.tag" title="Permalink to this definition">¶</a></dt>
<dd><p>tag</p>
<dl class="field-list simple">
<dt class="field-odd">Type</dt>
<dd class="field-odd"><p>str</p>
</dd>
</dl>
</dd></dl>

<dl class="py attribute">
<dt class="sig sig-object py" id="pynwn.Common.name">
<span class="sig-name descname"><span class="pre">name</span></span><a class="headerlink" href="#pynwn.Common.name" title="Permalink to this definition">¶</a></dt>
<dd><p>name</p>
<dl class="field-list simple">
<dt class="field-odd">Type</dt>
<dd class="field-odd"><p>pynwn.LocString</p>
</dd>
</dl>
</dd></dl>

<dl class="py attribute">
<dt class="sig sig-object py" id="pynwn.Common.locals">
<span class="sig-name descname"><span class="pre">locals</span></span><a class="headerlink" href="#pynwn.Common.locals" title="Permalink to this definition">¶</a></dt>
<dd><p>locals</p>
<dl class="field-list simple">
<dt class="field-odd">Type</dt>
<dd class="field-odd"><p><a class="reference internal" href="LocalData.html#pynwn.LocalData" title="pynwn.LocalData">pynwn.LocalData</a></p>
</dd>
</dl>
</dd></dl>

<dl class="py attribute">
<dt class="sig sig-object py" id="pynwn.Common.location">
<span class="sig-name descname"><span class="pre">location</span></span><a class="headerlink" href="#pynwn.Common.location" title="Permalink to this definition">¶</a></dt>
<dd><p>location</p>
<dl class="field-list simple">
<dt class="field-odd">Type</dt>
<dd class="field-odd"><p><a class="reference internal" href="Location.html#pynwn.Location" title="pynwn.Location">pynwn.Location</a></p>
</dd>
</dl>
</dd></dl>

<dl class="py attribute">
<dt class="sig sig-object py" id="pynwn.Common.comment">
<span class="sig-name descname"><span class="pre">comment</span></span><a class="headerlink" href="#pynwn.Common.comment" title="Permalink to this definition">¶</a></dt>
<dd><p>comment</p>
<dl class="field-list simple">
<dt class="field-odd">Type</dt>
<dd class="field-odd"><p>str</p>
</dd>
</dl>
</dd></dl>

<dl class="py attribute">
<dt class="sig sig-object py" id="pynwn.Common.palette_id">
<span class="sig-name descname"><span class="pre">palette_id</span></span><a class="headerlink" href="#pynwn.Common.palette_id" title="Permalink to this definition">¶</a></dt>
<dd><p>palette_id</p>
<dl class="field-list simple">
<dt class="field-odd">Type</dt>
<dd class="field-odd"><p>int</p>
</dd>
</dl>
</dd></dl>

<dl class="py attribute">
<dt class="sig sig-object py" id="pynwn.Common.__weakref__">
<span class="sig-name descname"><span class="pre">__weakref__</span></span><a class="headerlink" href="#pynwn.Common.__weakref__" title="Permalink to this definition">¶</a></dt>
<dd><p>list of weak references to the object (if defined)</p>
</dd></dl>

</dd></dl>

</div>


           </div>
          </div>
          <footer><div class="rst-footer-buttons" role="navigation" aria-label="Footer">
        <a href="CombatInfo.html" class="btn btn-neutral float-left" title="CombatInfo" accesskey="p" rel="prev"><span class="fa fa-arrow-circle-left" aria-hidden="true"></span> Previous</a>
        <a href="Equips.html" class="btn btn-neutral float-right" title="Equips" accesskey="n" rel="next">Next <span class="fa fa-arrow-circle-right" aria-hidden="true"></span></a>
    </div>

  <hr/>

  <div role="contentinfo">
    <p>&#169; Copyright 2022, jmd.</p>
  </div>

  Built with <a href="https://www.sphinx-doc.org/">Sphinx</a> using a
    <a href="https://github.com/readthedocs/sphinx_rtd_theme">theme</a>
    provided by <a href="https://readthedocs.org">Read the Docs</a>.
   

</footer>
        </div>
      </div>
    </section>
  </div>
  <script>
      jQuery(function () {
          SphinxRtdTheme.Navigation.enable(true);
      });
  </script> 

</body>
</html>